body {
    font-family: Arial, sans-serif;
    text-align: center;
    background-color: #f4f4f4;
}

.countdown-container {
    background-color: #fff;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    margin: 50px auto;
    max-width: 400px;
}

h1 {
    font-size: 24px;
}

.countdown {
    display: flex;
    justify-content: space-between;
    margin-top: 20px;
}

.time {
    flex: 1;
    background-color: #333;
    color: #fff;
    padding: 10px;
    margin: 0 5px;
    border-radius: 5px;
    font-size: 20px;
}